<div style="text-align: center">
  <h2>ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</h2>
</div>
<div style="margin-left: 20%; margin-right: 20%; font-size: 18px">
  <h4>Дійсна від: 06.06.2019</h4>
  <h4>Останні зміни: 06.06.2019</h4>
  <div>
    Chichi є сервісом для пошуку та он-лайн бронювання послуг у сфері краси, що базується на веб-сайті <span style="color: red">http://chichi.com.ua</span> (надалі – «Сервіс», «ми»). Ми цінуємо вашу довіру та з повагою ставимося до ваших персональних даних, тому розробили цю Політику конфіденційності (надалі – «Політика») з метою ознайомлення користувачів Сервісу (надалі – «Користувач», «ви») із порядком збирання, використання, обробки, зберігання та захисту Персональних даних.
    <br/>
    <br/>
    Реєструючись на Сервісі, ви автоматично погоджуєтеся та приймаєте норми цієї Політики, а також надаєте дозвіл на збір, використання, обробку та зберігання наданих вами Персональних даних у порядку, визначеному Політикою, та у відповідності до Законів України «Про захист персональних даних», «Про захист прав споживачів», «Про електронну
    <br/>
    <br/>
  </div>
  <ol>
    <li>
      ВИЗНАЧЕННЯ ТЕРМІНІВ
      <ol>
        <li>
          Обробка персональних даних – вчинення будь-яких дій та/або сукупності дій, що пов'язані зі збиранням, реєстрацією, накопиченням, зберіганням, адаптуванням, зміною, поновленням, використанням, поширенням (розповсюдженням, реалізацією, передачею), знеособленням та знищенням Персональних даних.
        </li>
        <li>
          Персональні дані – будь-яка інформація, яка дає змогу ідентифікувати фізичну особу, зокрема інформація, яка була надана під час заповнення реєстраційної форми при реєстрації.
        </li>
      </ol>
    </li>
    <br/>
    <li>
      ЗБІР ТА ОБРОБКА ПЕРСОНАЛЬНИХ ДАНИХ
      <ol>
        <li>
          Під час реєстрації Користувача або здійснення бронювання, ми просимо вказати запитувану інформацію в обсязі, необхідному для здійснення обробки бронювання Користувача.
        </li>
        <li>
          Ми збираємо такі дані про Користувачів:
        </li>
        <ol>
          <li>
            Прізвище, ім'я та по-батькові;
          </li>
          <li>
            Адреса електронної пошти;
          </li>
          <li>
            Номер контактного телефону.
          </li>
        </ol>
      </ol>
    </li>
    <br/>
    <li>
      МЕТА ЗБОРУ ТА ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ
      <ol>
        <li>
          Ми збираємо та обробляємо, зазначені у розділі 2, персональні дані для таких цілей:
          <ol>
            <li>обробка та здійснення бронювання Користувача згідно з Правилами;</li>
            <li>удосконалення функціонування Сервісу;</li>
            <li>аналізу поведінки Користувачів та оцінки їх інтересу, виявленого до різних розділів та функцій Сервісу;</li>
            <li>попередження шахрайства та інших незаконних дій Користувачів;</li>
            <li>інформування про послуги, новини, рекламні пропозиції за допомогою надсилання</li>
            <li>текстових повідомлень (sms) або електронної пошти;</li>
          </ol>
        </li>
        <li>
          Ми можемо час від часу надсилати вам рекламні електронні листи на ваш контактний номер телефону або адресу електронної пошти або контактного номеру телефону про пропоновані послуги, оголошення або оновлення, які стосуються Сервісу. Ви можете відмовитися від такої розсилки, натиснувши на відповідне посилання в електронному листі або написавши нам на контактну адресу електронної пошти.
        </li>
        <li>
          Ми зберігаємо Персональні дані Користувачів протягом розумного терміну, необхідного для обробки та здійснення бронювань, або виконання своїх юридичних зобов'язань.
        </li>
      </ol>
    </li>
    <br/>
    <li>
      ПЕРЕДАЧА І РОЗКРИТТЯ ПЕРСОНАЛЬНИХ ДАНИХ
      <ol>
        <li>
          Ми зобов'язуємося не розкривати і не передавати третім особам зібрані в рамках надання послуг Персональні дані та іншу інформацію, крім випадків, описаних у цій Політиці.
        </li>
        <li>
          Ми маємо право розкривати і передавати третім особам Персональні дані лише якщо:
          <ol>
            <li>такі дії є необхідними для здійснення обробки та бронювання Користувача;
            </li>
            <li>такі дії є обов'язковими згідно з чинним законодавством України;
            </li>
            <li>є достатні підстави вважати, що розкриття такої інформації необхідне для дотримання чинного законодавства України, вимог юридичного процесу або законного запиту державних органів.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      ПРАВА КОРИСТУВАЧІВ ЩОДО ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ
      <ol>
        <li>Приймаючи та погоджуючись з умовами цієї Політики, Користувач підтверджує, що він як суб'єкт персональних даних ознайомлений зі своїми правами, передбаченими Законом України «Про захист персональних даних», а саме про те, що Користувач має право:
        <ol>
          <li>знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження або місце проживання (перебування) володільця чи розпорядника персональних даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків, встановлених законом;
          </li>
          <li>отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані;
          </li>
          <li>на доступ до своїх персональних даних;
          </li>
          <li>отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, чи обробляються його персональні дані, а також отримувати зміст таких персональних даних;
          </li>
          <li>пред'являти вмотивовану вимогу Компанії із запереченням проти обробки своїх персональних даних;
          </li>
          <li>пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та розпорядником персональних даних;
          </li>
          <li>на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;
          </li>
          <li>звертатися із скаргами на обробку своїх персональних даних до державних органів та посадових осіб, відповідальних за захист персональних даних, або до суду;
          </li>
          <li>застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;
          </li>
          <li>вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;
          </li>
          <li>відкликати згоду на обробку персональних даних;
          </li>
          <li>знати механізм автоматичної обробки персональних даних;
          </li>
          <li>на захист від автоматизованого рішення, яке має для нього правові наслідки.
          </li>
        </ol>
        </li>
        <li>ЗАБЕЗПЕЧЕННЯ ЗАХИСТУ ПЕРСОНАЛЬНИХ ДАНИХ
          <ol>
            <li>Тільки уповноважені працівники Сервісу, які займаються підтримкою роботи Сервісу, мають доступ до персональних даних Користувачів. Такі працівники зобов'язані зберігати конфіденційність та попереджати несанкціонований доступ третіх осіб до персональних даних.
            </li>
            <li>Ми використовуємо засоби забезпечення безпеки та захисту персональних даних Користувачів від їх втрати, зловживання, несанкціонованого доступу, використання, розкриття, внесення змін чи знищення.
            </li>
            <li>Ми звертаємо увагу на те, що жоден з існуючих способів передачі даних не може бути абсолютно безпечним. Тому ми, незважаючи на всі вжиті заходи щодо забезпечення безпеки, не можемо гарантувати повне збереження інформації та даних, але продовжуватимемо робити все можливе аби цього ніколи не трапилось.
            </li>
            <li>Ми не несемо відповідальності за незаконні дії третіх осіб, хакерів, зловмисників та інших порушників, які можуть порушувати умови цієї Політики і намагатися заволодіти повністю або частково Персональними даними Користувачів, а також використовувати їх в особистих цілях.
            </li>
          </ol>
        </li>
        <li>ІНШЕ
        <ol>
          <li>При реєстрації ви підтверджуєте, що вказуєте правдиву і точну інформацію про себе. Якщо ви надали інформацію, яка є недостовірною, неповною, або такою, що викликає підозри або ми маємо обґрунтовані підстави вважати, що така інформація є недостовірною, неповною, ми маємо право відмовитися від виконання бронювання або заблокувати вам доступ до Сервісу.
          </li>
          <li>Сервіс може містити посилання на сторонні сайти. Ми не несемо відповідальність за діяльність таких сайтів, а також за забезпечення ними захисту ваших Персональних даних. Будь ласка, ознайомтесь із відповідними політиками цих сайтів.
          </li>
          <li>Ми можемо змінити або оновити Політику в будь-який час без будь-якого спеціального повідомлення Користувачів. Нова редакція Політики набирає чинності з моменту її розміщення у відповідному розділі мобільного додатку, якщо інше не передбачено новою редакцією Політики.
          </li>
        </ol>
        </li>
      </ol>
    </li>
  </ol>
  <h3 style="text-align: center">Якщо у вас виникнуть запитання або скарги, щодо цієї Політики, зв'яжіться з нами за цією електронною адресою: help@chichi.com.ua
  </h3>
</div>
