<div style="max-width: 1000px; margin-left: auto; margin-right: auto;">
  <h3>Довідка</h3>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Що таке chichi?">
      <ng-template ngbPanelContent>
        chichi - це сервіс, створений для того, щоб кожен міг бронювати улюблені послуги 24/7 та без жодних перешкод всього у кілька кліків. Тут ти можеш поділитись своїм досвідом за допомогою відгуків, бронювати послуги в улюблених салонах та барбершопах в зручний для тебе час, знати про всі акції та спеціальні пропозиції, а також планувати майбутні візити!
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Як працює система букінгу?">
      <ng-template ngbPanelContent>
        Задаючи параметри пошуку ти, серед отриманого переліку, обираєш салон та окремі послуги, якими бажаєш скористатись. Далі тобі буде запропоновано обрати дату та час. Час, який відображено в додатку є доступним у салоні, тому бронювання підтверджується автоматично і салон отримує його в режимі онлайн. Деякі салони можуть перетелефонувати для підтвердження бронювання. Оплата послуг відбувається в салоні.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Як я отримаю підтвердження свого бронювання?">
      <ng-template ngbPanelContent>
        Про всі труднощі бронювання ми подбаємо за тебе. Час, який відображено в додатку є доступним у салоні, тому бронювання підтверджується автоматично і салон його отримує в режимі онлайн. Деякі салони можуть перетелефонувати для підтвердження бронювання.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Як я можу змінити або відмінити своє бронювання?">
      <ng-template ngbPanelContent>
        У випадку, якщо твої плани змінились, ти можеш відмінити або змінити своє бронювання у додатку у розділі “Мої бронювання”
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Як я можу тримати зв’язок з салоном?">
      <ng-template ngbPanelContent>
        Контактна інформація салону знаходиться у розділі “Мої бронювання” твого попереднього або поточного бронювання.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Чи можу я змінити номер телефону?">
      <ng-template ngbPanelContent>
        Поки що це можливо здійснити лише через запит на help@chichi.com.ua.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Я не можу зайти у свій профіль, що мені робити?">
      <ng-template ngbPanelContent>
        Зв’яжись з нами і ми допоможемо якнайшвидше. help@chichi.com.ua
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Як мені залишити відгук про салон?">
      <ng-template ngbPanelContent>
        Після того, як ти відвідаєш салон та отримаєш послугу, додаток сам запропонує залишити відгук та оцінку. Якщо тобі довелось бути в салоні без бронювання через chichi, то залишити відгук не вдасться.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
