<header>
  <nav class ="navbar navbar-expand-md navbar-light bg-light justify-content-center">
    <ul class="navbar-nav" style="font-size: 16px">
      <img routerLink="/" src="https://i.imgur.com/CIxr7vM.png" style="width: 88px; height: 34px; margin-top: 1%"/>
      <div class="row" *ngIf="!hiddenSearch">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <input class="form-control" style="width: 430px; height: 36px; margin-left: 2%; margin-top: 1%" type="search" name="name" id="dropdownBasic1" ngbDropdownToggle [(ngModel)]="name" (ngModelChange)="search()" placeholder="Введіть назву салону або послугу"/>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" [hidden]="hidden">
              <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                <tr *ngFor="let search of result.slice(0, 4);">
                  <td>
                    <a routerLink="salons/{{search.type}}">{{search.name}}</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </nav>
</header>
<header>
  <nav class ="navbar navbar-expand-md navbar-light bg-light justify-content-center">
    <ul class="navbar-nav" style="justify-content: center; font-size: 16px">
      <li><a routerLink="/salons/barber" class="nav-link">Барбер</a></li>
      <li><a routerLink="/salons/hair" class="nav-link">Волосся</a></li>
      <li><a routerLink="/salons/nails" class="nav-link">Нігті</a></li>
      <li><a routerLink="/salons/eyebrows" class="nav-link">Брови та Вії</a></li>
      <li><a routerLink="/salons/makeup" class="nav-link">Макіяж</a></li>
      <li><a routerLink="/salons/face" class="nav-link">Обличчя</a></li>
      <li><a routerLink="/salons/depilation" class="nav-link">Видалення волосся</a></li>
      <li><a routerLink="/salons/massage" class="nav-link">Масаж</a></li>
      <li><a routerLink="/orders" *ngIf="authorized" class="nav-link">Замовлення</a></li>
      <li><a routerLink="/logout" *ngIf="authorized" class="nav-link">Вийти</a></li>
      <div *ngIf="!authorized">
        <li><a routerLink="/login" class="nav-link">Логін</a></li>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Форма створення нового салону</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="form-group" style="text-align: center">
              <input type="text" placeholder="Назва" #name/>
              <br/>
              <input type="text" placeholder="Опис" #description/>
              <br/>
              <input type="text" value="Львів" readonly/>
              <br/>
              <input type="text" placeholder="Адреса" #address/>
              <br/>
              <input type="text" placeholder="Інстаграм" #instagram/>
              <br/>
              <select formControlName="type" style="width: 172px;">
                <option *ngFor="let type of types" [ngValue]="type">{{type.title}}</option>
              </select>
              <br/>
              <input type="text" placeholder="Картинка" #image/>
              <br/>
            </div>
          </form>
        </div>
          <button type="button" class="btn btn-outline-dark" (click)="addSalon(name.value, description.value, 'Львів', address.value, instagram.value, type?.title_eng, image.value)">Save</button>
      </ng-template>
      <button class="btn btn-outline-dark" (click)="open(content)">Додати салон</button>
    </ul>
  </nav>
</header>
