<div style="text-align: center; max-width: 1000px; margin-left: auto; margin-right: auto;">
  <img [src]="salon.image" style="width: 630px; height: 280px;" alt="image not found"/>
  <div>
    <h4>{{salon.name}}</h4>
    {{salon.city}}, {{salon.address}}
    <br/>
    <img src="https://i.pinimg.com/originals/f3/2d/98/f32d9837fedc6c5a3e25a456772780e4.png" style="width: 25px;height: 25px"/> <a href="https://www.instagram.com/{{salon.instagram}}" target="_blank">@{{salon.instagram}}</a>
  </div>
  <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="search()" placeholder="Пошук послуг"/>
  <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
    <ngb-panel id="custom-panel-1">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">Послуги</h5>
          <button ngbPanelToggle class="btn btn-link p-0">{{ opened ? 'Λ' : 'V'}}</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let service of services" style="display: inline-flex;">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{service.name}}</h5>
              <p class="card-text">Тривалість: {{service.duration}} хв.</p>
              <p class="card-text">Ціна: {{service.price}}₴</p>
              <button type="button" class="btn btn-outline-danger" style="border-radius: 20px;" (click)="toOrderList(service.id, service.name, service.price, service.duration, salon.title, salon.image)">+</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    </ngb-accordion>
  <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
    <ngb-panel id="custom-panel-2">
      <ng-template ngbPanelHeader let-opened="closed">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">Опис салону</h5>
          <button ngbPanelToggle class="btn btn-link p-0">{{ opened ? 'Λ' : 'V'}}</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
          <h6>{{salon.description}}</h6>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col">Country</th>-->
<!--      <th scope="col">Area</th>-->
<!--      <th scope="col">Population</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let service of services; index as i">-->
<!--      <th scope="row">{{ i + 1 }}</th>-->
<!--      <td>-->
<!--        {{ service.name }}-->
<!--      </td>-->
<!--      <td>{{ service.price | number }}</td>-->
<!--      <td>{{ service.duration | number }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</div>


