a {
  color: navy;
}
a:visited{
  color: navy;
}
a:hover{
  text-decoration: none;
}
img {
  border-radius: 8px;
}
mat-form-field {
  margin-right: 12px;
}
.commentTextArea {
  width: 500px;
  resize: none;
}
.authorTextArea{
  width: 200px;
  height: 30px;
  resize: none;
}
