<div style="margin-left: 15%; margin-right: 15%; font-size: 18px">
  <h3>Про нас</h3>
  <p>У chichi найкращі салони краси та барбершопи твого міста, бронювання послуг здійснюється за лічені хвилини</p>
  <p>Знаходь свій салон або барбершоп та бронюй послуги 24/7. Актуальні вільні години не потрібно дізнаватись, шукати в інстаграм — всі вони тут.</p>
  <p>З chichi ти не зможеш забути про своє бронювання, ми вчасно надсилаємо нагадування. Також ти можеш додати своє бронювання в особистий календар.</p>
  У chichi є можливість:
  <li>
    Переглянути перелік найкращих салонів краси та барбершопів твого міста
  </li>
  <li>Ознайомитись з їх детальним описом та переліком послуг
  </li>
  <li>Дізнатись вільні дати та години
  </li>
  <li>Ознайомитись з реальними відгуками
  </li>
  <li>Можливість обирати улюблених майстрів
  </li>
  <li>Здійснювати бронювання 24/7
  </li>
  <li>Фільтри допоможуть знайти бажану послугу якнайшвидше
  </li>
  <li>Будувати маршрут одразу з додатка
  </li>
  <li>Отримувати нагадування про візит
  </li>
  <li>Змінювати деталі бронювання, або скасовувати його з особистого кабінету
  </li>
  <li>Додавати бронювання в особистий календар
  </li>
  <p>Настав час попрощатися з незручними дзвінками адміністраторів, довгими відповідями в соціальних мережах, а також забувати час.</p>
  <p>Тепер все під контролем chichi!</p>
  <p>Користуватись chichi ще зручніше, якщо завантажити додаток. Так зручніше отримувати нагадування, слідкувати за візитами і дізнаватись спеціальні пропозиції салонів.</p>
  <div>Ваші позитивні емоції від користування chichi для нас — все, тому якщо тобі потрібна допомога — пиши нам в службу підтримки: <p style="color: red">help@chichi.com.ua</p></div>
</div>
